.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    padding-top: 2px ;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin:0
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.grid-item {
    border:1px solid;
    padding: 10px;
    text-align: center;
}

.profile-logo{
    background-image: url(https://picsum.photos/200/300);
    border-radius: 100%;
    height: 50px;
    width: 50px;
   
}

.main-container{
    display: flex;
    align-content: center;
    align-items: center;
}

.column-container{
    display: flex;
    align-content: center;
    align-items: center;
}

.column-container:last-child{
    align-items:start;
}

.column-left{
    flex:10;
    align-items:center;
}
.column-middle{
    align-items: end;
    align-items:center;
    flex:1;
}
.column-right{
    align-items:start;
    flex:50;
}

input[type="text"],input[type="date"]{
    width: 500px;
    padding:10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="textarea"]{
    width: 500px;
    height: 200px;
    padding:10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
button{
    flex-grow: 1;
    margin: 0 5 px;
}